.thead {
  width: 85vw;
  padding: 0.5rem 0;
}
th,
td {
  padding: 0.7rem 1rem;
  border-bottom: 1px solid #eff2f5;
}
.name {
  display: flex;
  align-items: center;
  padding: 1.1rem 1rem;
}
.logo {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.starLogo {
  margin-right: .2rem;
}
.tData {
  margin-right: 1rem;
}
.getMoreData > i{
  padding-right:.1rem
}
.priceChangePer{
  color:var(--color-danger)
}
.priceChangePer7D{
  color:var(--color-success)
}
.statusBar{
  margin-top:.4rem;
  width:10rem;
  height:.5rem;
  background-color: #f1f3f7;
  border-radius: 8px;
}
.status{
  width:80%;
  height: .5rem;
  background-color: #CFD6E4;
  border-radius: 8px;
}
@media only screen and (max-width: 768px) {
  .getMoreData {
    display: none;
  }
  .starLogo {
    margin-right: 0.1rem;
  }
  th,
  td {
    padding: 0.7rem .8rem;
    border-bottom: 1px solid #eff2f5;
  }
}
