.popup{
    display:none;
}
@media only screen and (max-width:768px){
 .popup{
     display: block;
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 80vw;
        height:50vh;
        background-color:white !important;
        border-radius: 8px;
        box-shadow: 0px 1.47737px 17.7284px 4.43211px var(--color-dark-300);
        z-index: 3;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:5rem;
    }
    .tHead,.tData,.tData7D,.tData24H{
        padding:.4rem 2rem;
        border:none;
    }
    .tData7D{
        color:var(--color-success)
    }
    .tData24H{
        color:var(--color-danger)
    }
    .header > * {
        padding:.5rem 1rem;
    }
    .heading{
    display:flex;
    justify-content: center;
    text-align: center;
    }
    .logo {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin:0 .4rem 0 0;
      }
      .statusBar{
        margin-top:.4rem;
        width:10rem;
        height:.5rem;
        background-color:var(--color-light-100);
        border-radius: 8px;
      }
      .status{
        width:80%;
        height: .5rem;
        background-color: var(--color-light-300);
        border-radius: 8px;
      }
}